<% name ||= "New" %>
<h1><%= name %> article</h1>
<%= form_for(@article, html: { id: "articles_form" }) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div class="be-red white top-space">
			* <%= message %>
		</div>			
	<% end %>
	<div class="field">
		<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
	</div>
	<div class="field">
		Portada: <%= f.file_field :cover,  accept: 'image/png,image/gif,image/jpeg' %>
	</div>
	<div class="field">
		<%= f.text_area :body, id: "body-textarea", style: "height:250px; display:none;", class: "form-control" %>	
		<div id="epiceditor" style="height: 250px;"></div>
	</div>
	<div class="field">
		<label>Categories</label>
		<% @categories.each do |category| %>
			<div class="field">
				<%= check_box_tag "categories[]", category.id %> <%= category.name %>
			</div>
		<% end %>
	</div>
	<div class="field">
		<%= f.submit "Save", class: "btn be-red white" %>
	</div>
<% end %>	

<script type="text/javascript">
	var editor = new EpicEditor({
		file:{
			name: "nuevo_articulo"
		}
	});
	editor.load();
	$("#articles_form").on("submit", function(){
		$("#body-textarea").val(editor.exportFile("nuevo_articulo", "html"));
	});
</script>