<h1><%= @article.title %></h1>
<% unless @article.user.nil? %>
	<p>
		Written by: <%= @article.user.email %>
	</p>	
<% end %>
<div class="field">
	<% @article.categories.each do |category| %>
		<%= link_to category.name, category, style:"color: #{category.color} !important;" %>
	<% end %>
</div>
<div class="field">
	<%= image_tag @article.cover.url() %>
</div>
<p>
	Visits: <%= @article.visits_count %>
</p>
<div>
	<%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
</div>

<div class="field">
	<h3>Comments</h3>
	<%= render "comments/form" %>
	<ul id="comments-box">
		<% @article.comments.each do |comment| %>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
			</li>
		<% end %>
	</ul>
</div>
<div>
	<%= link_to "Edit", edit_article_path(@article) %>
</div>